#main{
    background-color: #ccc;
    margin: 0 auto;
    height: 35px;
    width: 800px;
    position: relative;
}
#main ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    float: left;
}
#main li a {
    text-decoration: none;
    display: block;
    color: #000;
    padding: 8px 15px;
}
#main li:last-child {
    border-right: none;
  }
#main ul li {
    float: left;
    border-right:1px solid #f8f5f5;
}
#main ul li a:hover,
.selected{
    background: #792b90; color: #edeaea !important;
}
#language{
    right: 0;
    position: absolute;
}